<form action="/channels" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Enter new channel:</p>
    <label for='channel[name]'>Channel Name:</label><br>
    <input type='text' name='channel[name]'/><br/>
    <label for='channel[price]'>Channel Price:</label><br>
    <input type='number' name='channel[price]' min=0 step='.01'/><br/>
    <label for='channel[spanish]'>Available in Spanish?:</label><br>
    <input type="radio" name="channel[spanish]">
    <label for="channel[spanish]">True</label>
    <input type="radio" name="channel[spanish]">
    <label for="channel[spanish]">False</label><br>
    <input type='submit'/>
</form>
