<h1>Customer Accounts</h1>
<h2>@customer.name"</h2>
<% @customer.accounts.each do |account| %>
  <section id="customer_accounts-<%= account.id  %>">
    <h3> Name: <%= account.acct_name %></h3>
    <p> <%= account.has_money %> </p>
    <p> <%= account.dollar_amount %> </p>
  </section>
<% end %>
