<h1>All Subscribers</h1>

<% @subscribers.each do |subscriber| %>
    <a href="/subscriber/:id"><h3><%= subscriber.name %></h3></a>
    <p>
    Age: <%= subscriber.age %><br>
    Top Market: <%= subscriber.top_market %>
    </p>
<% end %>